/* FONTS */
@font-face {
    font-family: "Muli-Regular";
    src: url(../fonts/Muli/Muli-Regular.ttf);
}

@font-face {
    font-family: "Muli-Bold";
    src: url(../fonts/Muli/Muli-Bold.ttf);
}

@font-face {
    font-family: "Muli-Black";
    src: url(../fonts/Muli/Muli-Black.ttf);
}

@font-face {
    font-family: "Muli-ExtraBold";
    src: url(../fonts/Muli/Muli-ExtraBold.ttf);
}

@font-face {
    font-family: "Muli-Light";
    src: url(../fonts/Muli/Muli-Light.ttf);
}

@font-face {
    font-family: "Muli-ExtraLight";
    src: url(../fonts/Muli/Muli-ExtraLight.ttf);
}

@font-face {
    font-family: "Muli-SemiBold";
    src: url(../fonts/Muli/Muli-SemiBold.ttf);
}

@font-face {
    font-family: "Alegreya-Thin";
    src: url(../fonts/AlegreyaSansSC/AlegreyaSansSC-Thin.ttf);
}

@font-face {
    font-family: "Alegreya-ThinItalic";
    src: url(../fonts/AlegreyaSansSC/AlegreyaSansSC-ThinItalic.ttf);
}

@font-face {
    font-family: "Alegreya-Medium";
    src: url(../fonts/AlegreyaSansSC/AlegreyaSansSC-Medium.ttf);
}

@font-face {
    font-family: "Alegreya-Light";
    src: url(../fonts/AlegreyaSansSC/AlegreyaSansSC-Light.ttf);
}

@font-face {
    font-family: "Alegreya-Regular";
    src: url(../fonts/AlegreyaSansSC/AlegreyaSansSC-Regular.ttf);
}

@font-face {
    font-family: "Alegreya-Bold";
    src: url(../fonts/AlegreyaSansSC/AlegreyaSansSC-Bold.ttf);
}

@font-face {
    font-family: "Lato-Light";
    src: url(../fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-Hairline";
    src: url(../fonts/Lato/Lato-Hairline.ttf);
}

@font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

/* MAIN BODY */

body {
    color: white;
    background: #000000;
    font-family: "Muli-Regular", Arial, sans-serif;
    margin: 1.2em 2em;
}

h1 {
    font-size: 36pt;
    font-weight: normal;
}

h2 {
    font-size: 30pt;
    font-weight: normal;
}

h3 {
    font-size: 26pt;
    font-weight: normal;
}

h4 {
    font-size: 20pt;
    font-weight: normal;
}

h5 {
    font-size: 18pt;
    font-weight: normal;
}

h6 {
    font-size: 12pt;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-family: "Muli-Bold", Arial, sans-serif;
}

h5, h6 {
    font-family: "Muli-ExtraBold", Arial, sans-serif;
}

a {
    color: mistyrose;
    font-family: "Muli-SemiBold", Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    text-decoration-line: none;
}

p {
    font-size: 14pt;
    line-height: 150%;
    font-weight: normal;
}

a:hover {
    text-decoration: none;
    color: white;
    font-size: 16pt;
}

a:active {
    color: olive;
}

section li {
    font-size: 16pt;
}

li a {
    font-size: 16pt;
}

a:focus, input:focus {
    outline: 1px solid beige;
}

hr {
    display: run-in;
    margin-top: 3em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.8px;
    color: lightgray;
}

/* Header, Footer */

header {
    background: inherit;
    font-family: "Muli-Light", sans-serif;
}

footer {
    background: inherit;
    font-family: "Muli-ExtraLight", sans-serif;
}

footer h5 {
    font-family: "Alegreya-Regular";
}

footer p {
    font-size: 12pt;
}

header h1 {
    font-family: "Alegreya-Light", sans-serif;
    margin-bottom: 0.2em;
    margin-top: 0.1em;
    text-align: center;
}

header h2 {
    font-family: "Alegreya-Thin", sans-serif;
    margin-bottom: 1.5em;
    margin-top: 0.2em;
    text-align: center;
}

header img {
    max-width: 400px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Classes */

.favourites {
    color: inherit;
}

.long-email {
    color: thistle;
}
